@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Button Type="primary">Ant Design Button</Button>

@*input tag sample*@
<Select Mode="tags"
		@bind-Values="@_selectedValues2"
		Placeholder="Please select"
		TItemValue="string"
		TItem="string"
		Size="@_sizeValue"
		OnSelectedItemsChanged="OnSelectedItemsChangedHandler">
		<SelectOptions>
			@foreach(var item in _items)
			{
				<SelectOption TItemValue="string" TItem="string" Value=@item Label=@item />
			}
		</SelectOptions>
</Select>


@code
{
	List<string> _items = new();
	string _selectedValue = string.Empty;
    IEnumerable<string> _selectedValues1 = new List<string>();
    IEnumerable<string> _selectedValues2 = new List<string>();
    private string _sizeValue = AntSizeLDSType.Default;

	protected override void OnInitialized()
    {
        const int min = 10;
        const int max = 36;
        _items = new List<string>();

        for (var i = min; max > i; i++)
        {
            var value = Convert.ToString(i, 16).PadLeft(2, '0') + i.ToString();
            _items.Add(value);
        }
		_selectedValue = "0a10";
		_selectedValues1 = new List<string> { "0a10" , "0c12"};
		_selectedValues2 = new List<string> { "0a10" , "0c12"};
    }

    private void OnChangeSize(string value)
    {
        _sizeValue = value;
        Console.WriteLine($"selected size: ${value}");
    }

	private void OnSelectedItemChangedHandler(string value)
    {
		Console.WriteLine($"selected: ${value}");
    }

    private void OnSelectedItemsChangedHandler(IEnumerable<string> values)
    {
		if (values != null)
			Console.WriteLine($"selected: ${string.Join(",", values)}");
    }
}
