@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="note">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Note
            </NavLink>
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
